// Place all the styles related to the showcase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}
h3 {
    flex: 1;
}
.header-row {
    display: flex;
    flex-direction: row;
    li {
        margin: 10px;
    }
}
#contact-btn {
    font-weight: bolder;
    color: #5cb85c;
    text-decoration: none;
}

.main-container {
    flex: 1;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.subtitle {
    flex-wrap: nowrap;
}

.clock-row {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    align-self: stretch;
}

.time-type-container {
    align-self: center;
    font-size: 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    font-weight: lighter;
    div {
        white-space: nowrap;
        span {
            padding-right: 5px;
        }
    }
}

.clock-container {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.options-container {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.theme-button-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    input {
        margin-right: 5px;
        font-weight: bolder;
        color: black;
    }
}

.divider {
    height: 2px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 0;
    overflow: hidden;
    background-color: grey;
}

.cities-container {
    display: flex;
    flex-direction: column;
}

.city-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.city-name {
    flex: 1;
    font-weight: 200;
    font-size: 25px;
    align-self: center;
    padding: 10px;
}
.city-time-container {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.time {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.am-pm {
    font-size: 10px;
}

.difference {
    font-size: 14px;
}

.add-btn {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.add-city-textfield {
    flex: 1;
    padding-left: 20px;
    margin-right: 5px;
    color: black;
}

.close-icon {
    width: min-content;
    height: min-content;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}