

    <div class="navbar-container">
      <h3>Clock+</h3>
      <div class="header-row">
        <li class="<%= 'btn btn-success active' if current_page?(root_path) %>">Showcase<%= link_to root_path %></li>
        <li class="<%= 'btn' %>"> <%= mail_to "s3642965@student.rmit.edu.au", "Contact Us", id: "contact-btn" %></li>
      </div>
    </div>